**/obj/*
**/bin/*
Delivery/*
Testing/*
*.suo
*.cache
*.orig
*.dat
*.user
*.ncrunch*
packages
*.bak
paket.dependencies
paket.lock
NuGetCache
paket.template
.vs/

DummyDependency/obj/

DummyDependency/bin/
